.blog-heading{

    color: #757575;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;    
    margin: 0rem 9rem 0rem;
    text-align: left;
    line-height: 200%;
    position: relative;
    top: -60rem;
    left: -4rem;
}

.blogpost-heading{

    color: #616161;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;    
    margin: 0rem 9rem 2rem;
    text-align: left;
    line-height: 200%;
    position: relative;
    top: -60rem;
    left: 17.3rem;
    background-color: #fcfcfc00;
}



.browseable{
    position: relative;
    top: -60rem;
    left: -17rem;
    height: 55rem;
}


.card-column {
    float: left;
    width: 25%;
    padding: 0px 5px 100px;
  }
  
  
  .card-row {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 80rem;
    margin: 0 50;
    display: inline-grid;
    grid-auto-rows: minmax(100vh, autofit);
    width: 50%;
    grid-gap: 0% 2%;
    text-align: center;
    
    }   
    .info-card{
        color: #616161;
        font-weight: normal;
        font-family: "Poppins", sans-serif;
        font-size: 16px;    
        position: relative;
        top: 0%;
        left: 7%;
        text-align: left;
    }
  
    .card-text{
        font-weight: normal;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        line-height: 50%;
        margin: 3rem 1rem 2rem 2rem;
        padding:5px;
        text-align: left;
        top: 12%;
        left: 17%;
        color:#616161;
        position: relative;    
      }
  
  .this-card {
    display: block;
    margin: 5rem 0rem -15rem;
    background-color: rgb(253, 253, 253);    
    border-radius: 0.5rem;
    overflow: hidden;
    border: solid 0.1rem rgb(231, 231, 231);
    position: relative;
    float: left;
    left: 320%;
    max-width: 10rem;
    min-width: 28rem;
    max-height: 100%;
    height: 25rem;    
    top: 0rem;
    transition: all 0.2s ease-in-out;
    
  }

  .this-card:hover {    
    box-shadow: 0.2rem 0.3rem 0.5rem 0.1rem rgb(190, 190, 190);
    top: -5px;
  }

  .card-green {
    border: solid 0.25rem #A5D887;
  }

  .card-blue {
    border: solid 0.25rem #83D5DF;
  }

  

  .title-green{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    line-height: 90%;
    margin: 3rem 1rem 2rem 2rem;
    text-align: left;
    color:#A5D887;

  }

  .title-blue{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    line-height: 90%;
    margin: 3rem 1rem 2rem 2rem;
    text-align: left;
    color:#83D5DF;

  }


  .one-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.one-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.two-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.two-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.three-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.three-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.four-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.four-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.five-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.five-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.six-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.six-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.seven-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.seven-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.eight-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.eight-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.nine-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.nine-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.ten-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.ten-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.eleven-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.eleven-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.twelve-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.twelve-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.thirteen-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.thirteen-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.fourteen-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #83D5DFe6;
    border-radius: 0.35rem;
}

.fourteen-btn:hover{
    background-color: #83D5DFe6;
    color: #fcfcfc;
    
}

.fifteen-btn{
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 78%;
    left: 19%;
    text-align: left;
    transform: translate(-50%, -50%);    
    display: inline-block;
    padding: 5px 8px;  
    text-decoration: none;  
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #fcfcfc; 
    color: #616161; 
    border: 3px solid #A5D887e6;
    border-radius: 0.35rem;
}

.fifteen-btn:hover{
    background-color: #A5D887e6;
    color: #fcfcfc;
    
}

.blog-content{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #616161;
    text-align: justify;
    padding: 10px 415px 10px 415px;
    position: absolute;
    top: 23%;
    left: 0.5%;
}

.reference{
    font-weight: bold;
}

.ref-heading{
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}

  